/task
/.env
/.venv
/__pycache__
backend/app/db/__pycache__
backend/app/models/__pycache__
backend/app/schemas/__pycache__
backend/app/api/v1/__pycache__
backend/app/core/__pycache__
__pycache__/
frontend/config.js
