/task
/.env
/.venv
/__pycache__
/app/db/__pycache__
/app/models/__pycache__
/app/schemas/__pycache__
/app/api/v1/__pycache__
/app/core/__pycache__
/app/tests/__pycache__
/app/tests/test_api.py
/app/tests/test_models.py
/app/tests/test_schemas.py
/app/tests/test_db.py
/app/tests/__init__.py
